/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

.fright{
  float: right;
  width: 25%;
}

.fleft{
  float: left;
  width: 60%;
  margin: 2%;
}

#bug{
  float: left;
  width: 30%;
}

#shoe{
  width: 30%;
}

#heel{
  float: right;
  width: 30%;
}








