/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
  overflow: auto;
}

.clear {
  clear: both;
}

/* Positioning Classes */


#deals{
  columns: 3;
  padding: 0px;
  background: none;
}




#double{
  background:none;
  padding: 0px;
  margin-bottom: 16px;
}

.col-2{
  float:right;
  width:32.2%;
  height: 593px;
  
}
.col-1{
  float: left;
  width: 66%;
  height: 118%;
  bottom: 0px;
}

#details{
  columns:3;
  width: 72%;
  margin-left:345px;
  padding-left:10px;
  padding-right: 10px;

}




